In [30]:
# 리스트 만들기
M_stu = ["박지성", '기성용', '손흥민', '이청용']
print(M_stu)

['박지성', '기성용', '손흥민', '이청용']

In [31]:
# 마지막에 항목 추가 
M_stu.append('이강인')
print(M_stu)

['박지성', '기성용', '손흥민', '이청용', '이강인']

In [32]:
# 특정 위치에 항목 추가
M_stu.insert(2, '이승우')
print(M_stu)

['박지성', '기성용', '이승우', '손흥민', '이청용', '이강인']

In [33]:
# 특정 항목 삭제
M_stu.remove('이승우')
print(M_stu)

['박지성', '기성용', '손흥민', '이청용', '이강인']

In [34]:
# 여러 항목 추가
M_stu.extend(['백승호', '정우영'])
print(M_stu)

['박지성', '기성용', '손흥민', '이청용', '이강인', '백승호', '정우영']

In [35]:
# 맨 마지막 항목 삭제
popstu = M_stu.pop()
print(popstu)

정우영

In [36]:
print(M_stu)

['박지성', '기성용', '손흥민', '이청용', '이강인', '백승호']

In [37]:
# 인덱스 값 추출
indexstu = M_stu.index('박지성')
print(indexstu)

0

In [38]:
# 리스트 안 해당 항목 개수 추출
countstu = M_stu.count('박지성')
print(countstu)

1

In [39]:
# 정렬
M_stu.sort()
print(M_stu)

['기성용', '박지성', '백승호', '손흥민', '이강인', '이청용']

In [41]:
# 역순으로 정렬
M_stu.reverse()
print(M_stu)

['기성용', '박지성', '백승호', '손흥민', '이강인', '이청용']

In [61]:
# 명왕성 삭제(del 사용)
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
del solarsys[-1]
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

In [64]:
# 슬라이싱과 del함수를 이용하여 수성부터 토성까지 삭제
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
del solarsys[1:7]
print(solarsys)

['태양', '천왕성', '해왕성', '명왕성']

In [68]:
# 금성과 지구 사이에 달 삽입
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
moon = solarsys.index('지구')
solarsys.insert(moon, '달')
print(solarsys)

['태양', '수성', '금성', '달', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']

In [67]:
# extend 함수를 이용하여 헬리혜성 추가
solarsys = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성']
solarsys.extend(['헬리혜성'])
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '명왕성', '헬리혜성']