In [1]:
# for문
for a in [0, 1, 2, 3, 4, 5]:
    print(a)

0
1
2
3
4
5

In [4]:
jsdata = ["Yoon", "Jang", "Jeong", "Kwon"]
for jsdata in jsdata:
    print(jsdata)

Yoon
Jang
Jeong
Kwon

In [5]:
# range 함수로 범위 지정
print(range(0, 20, 4))

range(0, 20, 4)

In [6]:
# list로 보기
print(list(range(0, 20, 4)))

[0, 4, 8, 12, 16]

In [7]:
# tuple로 보기
print(tuple(range(0, 20, 4)))

(0, 4, 8, 12, 16)

In [8]:
# set으로 보기
print(set(range(0, 20, 4)))

{0, 4, 8, 12, 16}

In [9]:
# range 사용한 for문 (1)
for a in range(0, 5, 1):
    print(a)

0
1
2
3
4

In [10]:
# range 사용한 for문 (2)
for a in range(0, 8, 2):
    print(a)

0
2
4
6

In [11]:
# 다양한 형태로 동일 값 표현하기
print(list(range(0, 10, 1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
print(list(range(0, 10, )))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
# 중첩 for문
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

print("x, y")
for x in x_list:
    for y in y_list:
        print(x, y)

x, y
x1 y1
x1 y2
x2 y1
x2 y2

In [15]:
# 여러 개의 list를 한번에 다루기
names = ['yoon', 'jang', 'jeong', 'kwon']
grade = ['A+', 'A', 'B', 'C']
for k in range(len(names)):
    print(names[k], names[k])
for names, grade in zip(names, grade):
    print(names, grade)

yoon yoon
jang jang
jeong jeong
kwon kwon
yoon A+
jang A
jeong B
kwon C