In [2]:
# 인자, 반환 값 없는 함수
def func():
    print("This is my first function")
    print("It is good")

In [3]:
func()

This is my first function
It is good

In [4]:
# 인자만 있는 함수
def friend(Name):
    print("{}는 나의 친한 친구입니다.".format(Name))

In [6]:
friend("도훈")

도훈는 나의 친한 친구입니다.

In [7]:
friend("Hyund")

Hyund는 나의 친한 친구입니다.

In [22]:
def student_info(name, s_num, p_num):
    print("-----------------------------")
    print("- 학생이름 : ", name)
    print("- 학생번호 : ", s_num)
    print("- 전화번호 : ", p_num)

In [23]:
student_info("이순신", 12345, "02-1223-4598")

-----------------------------
- 학생이름 :  이순신
- 학생번호 :  12345
- 전화번호 :  02-1223-4598

In [24]:
student_info("장보고", 23456, "02-1223-4598")

-----------------------------
- 학생이름 :  장보고
- 학생번호 :  23456
- 전화번호 :  02-1223-4598

In [15]:
# 인자, 반환 값 모두 있는 함수
def calc(x, y):
    z = x + y
    return(z)

In [16]:
calc(2, 3)

5

In [20]:
# 리스트 형태 데이터 다루기
def student_info_list(s_list):
    print("------------------------------")
    print("- 학생이름 : ", s_list[0])
    print("- 학생번호 : ", s_list[1])
    print("- 전화번호 : ", s_list[2])

In [21]:
student_info_list(["신사임당", 33, "010-7891-8652"])

------------------------------
- 학생이름 :  신사임당
- 학생번호 :  33
- 전화번호 :  010-7891-8652

In [29]:
# 지역 변수, 전역 변수

a = 5 # 전역 변수

def function1():
    a = 1 # 지역변수
    print("function1의 지역변수는 a =", a)

In [27]:
function1()

function1의 지역변수는 a = 1

In [34]:
a = 5 # 전역 변수

def function2():
    a = 2 # 지역변수
    print("function2의 지역변수는 a =", a)
    
    
def function3():
    a1= 3 # 지역변수
    print("function3의 전역변수는 a =", a)   
    print("function3의 지역변수는 a1 =", a1)
    
    
def function4():
    global a # 함수 내부에서 전역변수로 지정
    a = 4 
    print("function4의 전역변수는 a =", a)
    
function2()
function3()
function4()

function2의 지역변수는 a = 2
function3의 전역변수는 a = 5
function3의 지역변수는 a1 = 3
function4의 전역변수는 a = 4