In [1]:
# 최솟값, 최댓값
y_Num = [15, 10, 5, 0, 5, 5, 90, 5, 100]
[min(y_Num), max(y_Num)]

[0, 100]

In [2]:
y_str = ["zyx", "abc"]
[min(y_str), max(y_str)]

['abc', 'zyx']

In [3]:
# 절대값 구하기
[abs(10), abs(-10)]

[10, 10]

In [5]:
# 합계 구하기
y_Num = [15, 10, 5, 0, 5, 5, 90, 5, 100]
sum(y_Num)

235

In [6]:
# 항목 개수 구하기
len("abc cd")

6

In [7]:
# 항목 개수 - 리스트 형식
len(["a", "b", "c", "d"])

4

In [9]:
# 항목 개수 - 튜플 형식
len(("a", "b", "c", "d"))

4

In [10]:
# 항목 개수 - 세트 형식
len({"a", "b", "c", "d"})

4

In [11]:
# 항목 개수 - 딕셔너리
len({1:"Tom", 2:"kim", 3:"Lee"})

3

In [ ]:
# 평균 구하기
scores = [80, 60, 95, 75]
sum = 0
subject = 0

for score in scores:
    sum += score
    subject += 1
average = sum / subject

In [ ]:
average

In [5]:
print("최하점 : {0}, 최고점 : {1}".format(min(scores), max(scores)))

최하점 : 60, 최고점 : 95

In [18]:
# 실습테스트 1 - (1)

def even_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [19]:
even_odd(3)

'Odd'

In [ ]:
# 실습테스트 1 - (2)

even_odd = lambda x: "Even" if x%2==0 else "Odd"

In [22]:
even_odd(4)

'Even'

In [19]:
# 실습테스트 2

def gugudan(n):
    for i in range(1, 10):
        p = n * i
        print(p, end=" ") # 한 줄로 출력

In [20]:
gugudan(2)

2 4 6 8 10 12 14 16 18

In [23]:
# 실습테스트 3 -(1)

def func1(numbers): # 입력받는 값
    result = []
    for number in numbers:
        if number >=10:
            result.append(number)
    return result

In [24]:
func1([9, 10, 11, 12, 13, 14])

[10, 11, 12, 13, 14]

In [25]:
# 실습테스트 3 -(2) 람다식으로 표현

func1 = lambda numbers: [number for number in numbers if number >= 10]

In [27]:
func1([8, 9, 10, 11, 12, 13, 14])

[10, 11, 12, 13, 14]